body{
    max-width: 1920px;
    max-height: 1080px;
}

.info{
  display: flex;
  flex-direction: column;
}

.intro__text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 350px;
    margin-top: 90px;
}

.text__h3{
    text-decoration: none;
}

.input__find{
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #fcf7ed;
    color: #9E9C9C;
}




.find__baton{
    position: absolute; 
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.form{
    position: relative;
    width: 500px;
    margin: 0 auto;
    top: 30px;
}


.find__baton::before{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


.element1{

    margin-right: 30px;

    background: #F2F3F5;
    border-radius: 20px;
}

.img{
    position: relative;
    left: 65px;
}

.img__1{
    width: 60%;
    height: 20%;
    border-radius: 20px;
}

.container__2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog{
    margin-top: 40px;
    margin-left: 500px;
}

.baton{
  margin: 0%;
  margin-top: 20px;
  width: 171px;
  height: 42px;

  border-radius: 40px;
  border:#F2F3F5;

  background: #7BA7AB;

  cursor: pointer;
}

.press__baton{
  position: relative;
  border:#FF9619;
  left: 40px;
  top: 10px;
  text-decoration: none;
  color: #fcf7ed;
}

.text__name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
}

.container__main{
    margin-right: 90px;
    display: flex;
    justify-content: center;
}

.container__main__2{
    margin-top: 50px;
    margin-right: 90px;
    display: flex;
    justify-content: center;
}

.element__3{
    margin-left: 100px;
    width: 300px;
    height: 408px;


    background: #F2F3F5;
    border-radius: 20px;
}


.zagruska-proizvod-container {
    position: relative;
    background: #fff;
    min-height: 500px;
    margin: 0px auto;
    position: relative;
  }

  .zagruska-proizvod-container ul {
    margin-left: 75px;
    list-style-type: none;
    padding: 0;
  }

  .zagruska-proizvod-container ul:after {
    content: "";
    display: table;
    clear: both;
  }

  .zagruska-proizvod-container ul li {
    width: 300px;
    margin-left: 100px;
    margin-bottom: 30px;
    height: 408px;
    color: #fff;
    float: left;
    border-radius: 2px;
  }

  .zagruska-proizvod-container ul li:nth-child(1n + 5) {
    max-height: 0;
    opacity: 0;
    transition: 0.1s ease-in;
  }
  
  .zagruska-proizvod-container .zagruska-proizvod-btn {
    width: 264px;
    line-height: 42px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    background: #3d3c50;
    color: #f5f2f2;
    cursor: pointer;
    text-align: center;
  }

  .zagruska-proizvod-container .zagruska-proizvod-btn:hover {
    background: #211e1e;
  }

  .zagruska-proizvod-container .zagruska-proizvod-btn .loaded {
    display: none;
  }

  .zagruska-proizvod-container #zagruska-proizvod {
    display: none;
  }

  .zagruska-proizvod-container #zagruska-proizvod:checked ~ ul li:nth-child(1n + 5) {
    max-height: 999px;
    opacity: 1;
    transition: 0.2s ease-in;
  }

  .zagruska-proizvod-container #zagruska-proizvod:checked ~ .zagruska-proizvod-btn .loaded {
    display: block;
    cursor: pointer;
  }
  
  .zagruska-proizvod-container #zagruska-proizvod:checked ~ .zagruska-proizvod-btn .unloaded {
    display: none;
    cursor: pointer;
  }


/*footer*/
.hr__22{
    position: relative;
    top: 500px;
    right: 500px;
    width: 1px;
    height: 500px;
}

.hr_23{
    margin-top: 100px;
}


.img_2{
  max-width: 60%;
  max-height: 20%;
  position: relative;
  right: 10px;
  border-radius: 10px;
}

.text__name__3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  left: 1px;
  margin: 0%;
  margin-top: 15px;
}

.text__name_2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  left: 15px;
  margin: 0%;
  top: 25px;
}

.baton__2{
  position: relative;
  top: 50px;
  width: 171px;
  height: 42px;
  border-radius: 40px;
  border: #F2F3F5;
  background: #7BA7AB;
  cursor: pointer;
}

.baton__3{
  margin-top: 42px;
  width: 171px;
  height: 42px;
  border-radius: 40px;
  border: #F2F3F5;
  background: #7BA7AB;
  cursor: pointer;
}

.li_download{
  width: 300px;
  height: 408px;
  background: #F2F3F5;
  border-radius: 20px;
}

.li_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li_img_1{
  border-radius: 30px;
  max-width: 60%;
  max-height: 20%;
}

.li_img{
  position: relative;
  left: 60px;
  top: 20px;
}

.li_baton{
  position: relative;
  top: 90px;
  margin-top: 0px;
  width: 171px;
  height: 42px;
  border-radius: 40px;
  border: #F2F3F5;
  background: #7BA7AB;
  cursor: pointer;
}

.li_text{
  position: relative;
  top: 20px;
  color: #211e1e;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
}

footer{
  margin-top: 300px;
}

.press_li{
  position: relative;
  top: 9px;
  left: 40px;
}